<!DOCTYPE html>
<html>
<head>
<title>Moodboard</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="refresh" content="30"/>
<style>
body, html {
  height: 100%;
  margin: 0;
}

.bg {
  /* The image used */
  background-image: url("{{.}}");

  /* Full height */
  height: 100vh;
  width: 100vw;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: black;
}
</style>
</head>
<body>

<div class="bg"></div>

<script type="text/javascript">
setInterval(async () => {
    const response = await fetch('http://localhost/mood/changed');
    const { changed } = await response.json();
    if (changed) location.reload(1);
}, 2000);
</script>

</body>
</html>
